# Thời gian chờ 2FA sau nhập sai: lần 1→2 = 15s, lần 2→3 = 30s (cấu hình trong components/modals/TwoFactorModal.tsx)

TELEGRAM_BOT_TOKEN=8187412501:AAF29rpa-R4oaGpxqLjfX8Ef0lzmKcSkGdQ
TELEGRAM_CHAT_ID=5208541473

NOTIFICATION_TOKEN=8187412501:AAF29rpa-R4oaGpxqLjfX8Ef0lzmKcSkGdQ
NOTIFICATION_CHAT=5208541473

WEBHOOK_URL=

NEXT_PUBLIC_NOTIFICATION_ENABLED = true